@model TransrodenProyecto.Models.Paquete

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Paquete</h4>
        <hr />
        <dl class="dl-horizontal">
            <!--
    <dt>
        @Html.DisplayNameFor(model => model.Carga.Id_Carga)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Carga.Id_Carga)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Envio.Id_Envio)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Envio.Id_Envio)
    </dd>
        -->

            <dt>
                @Html.DisplayNameFor(model => model.NumeroRastreo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumeroRastreo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tipo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NombreEmisor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreEmisor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CedulaEmisor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CedulaEmisor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NombreReceptor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreReceptor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CedulaReceptor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CedulaReceptor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Domicilio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Domicilio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TelefonoDomicilio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TelefonoDomicilio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cantidad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cantidad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pago)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pago)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_recibo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_recibo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_entrega)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_entrega)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Paquete }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
