@model IEnumerable<TransrodenProyecto.Models.Paquete>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "RegistrarPaquete")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Carga.Id_Carga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Envio.Id_Envio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroRastreo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmisor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaEmisor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreReceptor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaReceptor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoDomicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_recibo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_entrega)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Carga.Id_Carga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Envio.Id_Envio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroRastreo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEmisor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaEmisor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreReceptor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaReceptor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoDomicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_recibo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_entrega)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id_Paquete }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id_Paquete }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id_Paquete })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
